* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: #1A1D23;
  --highlight: #FF57B2;
  --heading: #F8F8F8;
  --info: #BBBBBB;
  --body: #D7D7D7;
}

body {
  background-color: var(--background);
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font: 700 "Inter", sans-serif;
  color: var(--heading);
}

body, input, textarea, select, button, p {
  font: 400 "Inter", sans-serif;
  color: var(--body);
}

a {
  display: block;
}
